<div class="locations-content">

  <div class="heading">
      <h3>OUR LOCATIONS</h3>
      <h5>We are nearby, visit us</h5>
  </div>

  <div class="location-list">
  </div>

  <!-- shimmer-view -->
  <div class="shimmer-locations shimmer-view">

    <div class="shimmer-location">
      <!-- location:title -->
      <lines class="shine col-8 ht-20"></lines>

      <!-- location:map -->
      <photo class="shine"></photo>

      <div class="shimmer-location-actions">
        <!-- location:action -->
        <lines class="shine col-2 ht-20"></lines>

        <!-- location:action -->
        <lines class="shine col-2 ht-20"></lines>
      </div>
    </div>

    <div class="shimmer-location">
      <lines class="shine col-8 ht-20"></lines>
      <photo class="shine"></photo>
      <div class="shimmer-location-actions">
        <lines class="shine col-2 ht-20"></lines>
        <lines class="shine col-2 ht-20"></lines>
      </div>
    </div>

    <div class="shimmer-location">
      <lines class="shine col-8 ht-20"></lines>
      <photo class="shine"></photo>
      <div class="shimmer-location-actions">
        <lines class="shine col-2 ht-20"></lines>
        <lines class="shine col-2 ht-20"></lines>
      </div>
    </div>
  </div>

</div>
<style type="text/css">
  .map-holder .map{
    width:100%;
    height:200px;
  }
  
  .shimmer-location {
    padding: 15px 30px;
    margin-bottom: 10px;
  }

  .shimmer-location-actions {
    flex-direction: row !important;
    padding: 0 !important;
  }

  .shimmer-location-actions lines {
    margin-right: 8px;
  }
</style>
