
<div class="button-continue"><span>Continue as Guest</span></div>

<div class="account-logo">
  <img src="assets/img/logo.png">
  <p></p>
</div>

<div class="account-form">
  <form class="webform" id="login">
    <fieldset>
      <div class="name-holder"><input type="email" id="name" placeholder="Email"></div>
      <div class="pass-holder"><input type="password" id="pass" placeholder="Password"></div>
    </fieldset>
   <button type="submit" value="Login" class="account-button" id="submit-login">Log in</button>
  </form>
</div>

<div class="sign-in-link">
    <a class="account-button" id="lost-password">Lost password?</a>
</div>

<div class="sign-in-link">
  <a id="signup-here">Patient sign up here</a>
</div>
