<div class="account-logo">
  <img src="assets/img/logo.png">
  <p></p>
</div>

<div class="account-form">
  <form class="webform" id="reset">
    <p style="color:#FFF; margin-bottom:25px;">Enter the email where a link will be sent<br> to register the new password</p>
    <fieldset>
      <div class="name-holder"><input type="email" id="email" placeholder="Email" required></div>
    </fieldset>
   <button type="submit" value="Login" class="account-button" id="submit-reset">Send</button>
  </form>
</div>

<div class="sign-in-link">
    <a class="account-button" id="login">Login</a>
</div>
