<div class="news-content">
  <div class="heading">
      <h3>LATEST NEWS</h3>
      <h5>Be informed, be healthy</h5>
  </div>

  <div class="post-list">

  </div>

  <!-- shimmer-view -->
  <div class="shimmer-news shimmer-view">

    <div class="shimmer-post">
      <!-- post:thumbnail -->
      <photo class="shine"></photo>

      <div>
        <!-- post:title -->
        <lines class="shine col-8 ht-20 mb-8"></lines>

        <!-- post:date -->
        <lines class="shine col-2 ht-15 mb-8"></lines>

        <!-- post:content -->
        <lines class="shine"></lines>
        <lines class="shine"></lines>
        <lines class="shine"></lines>
      </div>
    </div>

    <div class="shimmer-post">
      <photo class="shine"></photo>
      <div>
        <lines class="shine col-8 ht-20 mb-8"></lines>
        <lines class="shine col-2 ht-15 mb-8"></lines>
        <lines class="shine"></lines>
        <lines class="shine"></lines>
        <lines class="shine"></lines>
      </div>
    </div>
  </div>
</div>

<style>

  .shimmer-post {
    padding: 15px 30px;
  }

  .mt-8 {
    margin-top: 8px;
  }
  .mb-8 {
    margin-bottom: 8px;
  }

</style>
