<div class="notification-content">
  <img src="assets/img/quit-weed.png">
  <h2>This application is only allowed to be used in Puerto Rico.</h2>
  <h4>Please use this app while you are in Puerto Rico, meanwhile check our website.</h4>
  <a href="#" id="skip-to-website">Go to website</a>
</div>

<style>
  .notification-content{
    padding:0 30px;
  }

  #skip-to-website{
    padding: 8px 25px;
    font-size: 14px;
    text-decoration: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: #fff;
    background: #167b3d;
    border: 1px solid #167b3d;
    border-radius: 5px;
    display: inline-block;
  }
</style>
