<div class="notification-content">
  <img src="assets/img/medical-marijuana-card.png">
  <h2>IT’S TIME TO RENEW YOUR ID</h2>
  <h4>Just click RENEW and our doctor will<br>
    contact you to complete the process</h4>
  <button id="renew">Renew</button>
  <button id="skip">Skip</button>
</div>

<div id="form-alert" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">

      <div class="modal-body">
        <div class="alert-form">
          <img id="medical-center-logo-modal">
          <h3>Your request has been submitted.</h3>
          <p>A representative of <span id="medical-center-name"></span>
          will communicate in the next 24 hours.</p>
          <button type="button" id="close" data-dismiss="modal">Close</button>
        </div>

      </div>

    </div>

  </div>
</div>
