<div class="offers-content">

  <div class="heading">
      <h3>LATEST OFFERS</h3>
      <h5>Stay up to date with our specials!</h5>
  </div>

  <div class="offers-filter">
    <select>
      <option value="">Filter Offers</option>
    </select>
  </div>

  <div class="offer-list">
      <div id="slider">

      </div>
  </div>

  <!-- shimmer-view -->
  <div class="shimmer-offers shimmer-view">

    <div class="shimmer-offer">
      <!-- offer:content -->
      <photo class="shine"></photo>
    </div>

    <div class="shimmer-offer">
      <photo class="shine"></photo>
    </div>

    <div class="shimmer-offer">
      <photo class="shine"></photo>
    </div>
  </div>

</div>

<style>

  .shimmer-offer {
    padding: 5px 30px;
  }

</style>
