<div class="button-continue"><span>Continue as Guest</span></div>

<div class="account-logo">
<img src="assets/img/logo.png">
  <p></p>
</div>

<div class="account-form">
  <form class="webform" id="register">
    <fieldset>
    <div class="name-holder"><input type="email" id="name" placeholder="Email" required></div>
    <div class="pass-holder"><input type="password" id="pass" placeholder="Password" required></div>
    <div class="user-holder"><input type="text" id="mj-user" placeholder="Cannabis Patient ID #" required></div>
   </fieldset>
   <button type="submit" value="Sign up" class="account-button" id="submit-signup">Sign up</button>
  </form>
</div>

<div class="sign-in-link">
    <a class="account-button" id="login">Already have an account? Login</a>
</div>
